# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (optional)
*.pkl

# Large dataset files (optional)
# Uncomment if needed
# data/*.csv

# Output files
output/*.csv